.am_border {
  border: 1px solid black;
}

.height_500 {
  height: 500px;
}

.height_50 {
  height: 50px;
}

.height_250 {
  height: 250px;
}

.height_100 {
  height: 100px;
}

.am_bgc_lightblue {
  background-color: lightblue;
}

.am_bgc_lightgrey {
  background-color: lightgrey;
}

.am_nav {
  width: 100%;
  height: 70px;
}

body {
  font-family: 'Roboto', sans-serif;
}


/* utili */

.line_height_70 {
  line-height: 70px;
}

.text_al_right {
  text-align: right;
}

.text_al_center {
  text-align: center;
}

.vertical_al_mid {
  vertical-align: middle;
}

.color_blue {
  color: #0067ff;
}

.color_white {
  color: white;
}

.bgc_white {
  background-color: white;
}

.padding_50 {
  padding: 50px 0;
}

.padding_10 {
  padding: 10px 0;
}

.margin_top_10 {
  margin-top: 10px;
}

.margin_top_50 {
  margin-top: 50px;
}

.border_rad {
  border: 1px solid white;
  border-radius: 5px;
}


/* fine utili */

/* barra di navigazione */

nav img {
  width: 100%;
}

nav a {
  margin: 10px;
}

/* fine barra di navigazione */

/* jumbotron */

.jumbo {
  background-image: url("../img/bg-home-1.jpg");
}

.jumbo h1 {
  font-size: 60px;
}

.jumbo p {
  font-size: 20px;
}




















sazfdxfdxsafedsetswaersaetastersa
