.am_border {
  border: 1px solid black;
}

.height_500 {
  height: 500px;
}

.height_50 {
  height: 50px;
}

.height_250 {
  height: 250px;
}

.height_100 {
  height: 100px;
}

.am_bgc_lightblue {
  background-color: rgb(26, 56, 135);
}

.am_bgc_lightgrey {
  background-color: #f3f5f9;
}

.am_nav {
  width: 100%;
  height: 70px;
}

#body body {
  font-family: 'Roboto', sans-serif;
}


/* utili */

.width_100 {
  width: 100%;
}

.line_height_70 {
  line-height: 70px;
}

.line_height_50 {
  height: 50px;
  line-height: 50px;
}

.text_blue {
  color: #031b4e;
}

.font_size_20 {
  font-size: 20px;
}

.font_bold {
  font-weight: bold;
}

.text_al_right {
  text-align: right;
}

.text_al_center {
  text-align: center;
}

.vertical_al_mid {
  vertical-align: middle;
}

.color_blue {
  color: #0067ff;
}

.color_grey {
  color: #7f8693;
}

.color_white {
  color: white;
}

.bgc_white {
  background-color: white;
}

.padding_50 {
  padding: 50px 0;
}

.padding_10 {
  padding: 10px 0;
}

.padding_15 {
  padding: 15px;
}

.padding_top_30 {
  padding-top: 30px;
}

.margin_10 {
  margin: 10px 0;
}

.margin_15 {
  margin: 15px;
}

.margin_50 {
  margin: 50px 0;
}

.border_rad {
  border: 1px solid white;
  border-radius: 5px;
}

.border_bott {
  border-bottom: 1px solid white;
}

.position_relative {
  position: relative;
}

.position_absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* fine utili */

/* barra di navigazione */

nav img {
  width: 100%;
}

nav a {
  margin: 10px;
}

/* fine barra di navigazione */

/* jumbotron */

.jumbo {
  background-image: url("../img/bg-home-1.jpg");
}

.jumbo h1 {
  font-size: 60px;
}

.jumbo p {
  font-size: 20px;
}

/* fine jumbotron */

/* deploy */


.menu {
  display: block;
  border-left: 1px solid black;
  padding: 15px 0;
  font-size: 20px;
  text-decoration: none;
}

.div_text .text_deploy {
  font-size:15px;
  font-weight: bold;
  color: #5b6987;
}

.div_text h4 {
  font-weight: bold;
}

/* fine deploy */

/* designed */

#designed h2 {
  font-weight: bold;
}

.box_slide_img::before {
  content: "<i class="fas fa-chevron-left"></i>";
}

/* fine designed */

/* features */

#features h2 {
  padding-top: 50px;
  font-weight: bold;
}

#regions h2 {
  font-weight: bold;
}

#regions a {
  font-weight: bold;
  text-decoration: none;
  color: #02d7d2;
}

#regions a:hover {
  color: #031b4e;
}


/* rocker */

#rocker h2 {
  font-weight: bold;
}

#get-started {
  background-color: #005cff;
}

#get-started h2 {
  font-weight: bold;
}

footer {
  background-color: #010e28;
}

footer p a i {
  padding: 0 3px;
}

footer p a i:hover {
  color: white;
}

footer ul li {
  list-style-type: none;
  line-height: 1.6;
}

footer ul li:first-child {
  font-size: 17px;
  font-weight: bold;
  color: white;
  padding: 15px 0;
}

#company li a {
  text-decoration: none;
  color: #7f8693;
}

#company li a:hover {
  color: white;
}

#products li a {
  text-decoration: none;
  color: #7f8693;
}

#products li a:hover {
  color: white;
}

#community li a {
  text-decoration: none;
  color: #7f8693;
}

#community li a:hover {
  color: white;
}

#support li a {
  text-decoration: none;
  color: #7f8693;
}

#support li a:hover {
  color: white;
}



















dsfgdfgdrfgdfagdsfragr
