.am_border {
  border: 1px solid black;
}

.height_500 {
  height: 500px;
}

.height_50 {
  height: 50px;
}

.height_250 {
  height: 250px;
}

.height_100 {
  height: 100px;
}

.am_bgc_lightblue {
  background-color: lightblue;
}

.am_bgc_lightgrey {
  background-color: lightgrey;
}

.am_nav {
  width: 100%;
  height: 70px;
  background-color: grey;
}

.am_padding {
  padding: 70px 0;
}
